---
import Layout from "../../layouts/Layout.astro";
import { getCurrentUser } from "../../server_functions";

const { user, isLoggedIn, loginErrorReason } = await getCurrentUser(Astro.cookies)
---

{isLoggedIn &&
<Layout title={`User ${user.email}`}>
    <div>
        {JSON.stringify(user, null, 2)}
    </div>
</Layout>}

{!isLoggedIn &&
<Layout title="No user found!">
    <div>
        <div>
            Error: {loginErrorReason}
        </div>
        Login to view your profile   
    </div>
</Layout>}
