---
import Layout from "../../layouts/Layout.astro";
import { getCurrentUser } from "../../server_functions";

const user = await getCurrentUser(Astro.cookies)
---

{user.isLoggedIn &&
<Layout title={`User ${user.email}`}>
    <div>
        {JSON.stringify(user, null, 2)}
    </div>
</Layout>}

{!user.isLoggedIn &&
<Layout title="No user found!">
    <div>
        <div>
            Error: {user.reason}
        </div>
        Login to view your profile   
    </div>
</Layout>}
